body {
  font-family: "PT Sans", sans-serif;
  background-image: url(../images/background.jpg);
  background-size: 800px 20624px;
  background-position: top center;
  background-repeat: no-repeat;
  width: 700px;
  margin: 0 auto;
  padding-top: 70px;
}

h1, h2, h3 {
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
}

p, h1 {
 font-family: "PT Sans", sans-serif;
 font-size: 25px;
 line-height: 25px;
 margin-top: 5px;
}

p, h2, h3 {
  font-family: "PT Sans", sans-serif;
  margin-top: 10px;
}

h1 {
  font-family: "PT Sans", sans-serif;
  font-size: 45px;
  margin-top: 65px;
}

h2 {
  font-family: "PT Sans", sans-serif;
  font-size: 30px;
  margin-top: 30px;
}

h3 {
  font-family: "PT Sans", sans-serif;
  font-size: 25px;
  margin-top: 30px;
}

.quote {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  font-style: italic;
  font-weight: lighter;
  margin-top: 10px;
  border-left: 2px solid black;
  padding-left: 20px;
  margin-left: -20px;
}

a {
  font-family: "PT Sans", sans-serif;
  color: black;
}

p {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 25px;
  margin-top: 30px;
}

ul, ol {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 25px;
  margin-top: 30px;
  margin-left: 20px;
  list-style-type: disc;
}
