body {
  font-family: "PT Sans", sans-serif;
}

p {
 font-size: 21px;
 line-height: 26px;
 font-family: "Helvetica Neue", "Arial", sans-serif;
}

h1 {
  color: red;
  font-size: 30px;
  line-height: 1.4em;
  text-decoration: uppercase;
}
